{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/registration/accounts.css' %}">
{% endblock css %}

{% block content %}
<section class="form-container">
  <h2>Password Change</h2>
  <p>Please enter your old password, and then choose your new password.</p>
  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <div class="button">
      <input class="btn btn-success" type="submit" value="Change password">
    </div>
  </form>
</section>
{% endblock content %}
