{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Set a new password{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/registration/accounts.css' %}">
{% endblock css %}

{% block content %}
<section class="form-container">
  <h2>Set a new password</h2>
  <p>Please confirm below to change your password.</p>
  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <div class="button">
      <input class="btn btn-success" type="submit" value="Change password">
    </div>
  </form>
</section>
{% endblock content %}
