/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0 auto;
  max-width: 1280px;
}

body {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 25px 80px;
}

.nav a {
  text-decoration: none;
}

.left-nav,
.center-nav,
.right-nav {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.center-nav {
  margin-right: -80px;
}

.nav-item {
  color: black;
  font-weight: 500;
  transition: 0.1s ease-in;
}

.nav-item:hover {
  color: #0087ca;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 120px;
}

/* Media Queries */
@media screen and (max-width: 650px) {
  .nav {
    flex-direction: column;
  }

  .left-nav,
  .center-nav,
  .right-nav {
    gap: 30px;
  }

  .right-nav {
    margin-top: 20px;
  }

  .center-nav {
    margin-right: 0;
    margin-top: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .nav-item, a {
    color: white;
  }

  body {
    background: black;
    color: white;
  }
}
