/* Header Nav */

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 25px 80px;
}

.nav a {
  text-decoration: none;
}

.left-nav,
.center-nav,
.right-nav {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav-item {
  color: black;
  font-weight: 600;
}

/* Intro Section */

.intro {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 60px;
  text-align: center;
}

.intro h1 {
  font-size: 18px;
  font-weight: 300;
}

/* Blog Posts */

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}

.main a {
  color: black;
  text-decoration: none;
}

.post-entry {
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  margin: 0 10px;
  padding: 4px 0;
}

.date-entry, .read-time {
  font-size: 14px;
  font-style: italic;
  margin: 0 10px;
}

.date-entry {
  color: #1b02fa;
  font-weight: 200;
}

.read-time {
  color: #999;
  font-weight: 300;
}

.post-title {
  font-size: 18px;
  font-weight: 300;
  margin: 10px;
}

.read-time {
  margin-left: auto;
}

/* Media Queries */

@media screen and (max-width: 650px) {

  .nav {
    flex-direction: column;
  }

  .left-nav,
  .center-nav,
  .right-nav {
    gap: 30px;
  }

  .right-nav {
    margin-top: 20px;
  }

  .intro {
    margin: 40px 10px;
  }
}
