.form-container {
  width: 320px;
  max-width: 80%;
  margin: 80px auto;
}

h2 {
  margin-bottom: 40px;
}

h2,
p,
.button {
  text-align: center;
}

#pass-changed {
  margin: 40px 0;
}

.pass-forgot {
  margin-top: 1rem;
}

a {
  color: #0087ca;
}

a:hover {
  text-decoration: underline;
}
