{% extends 'base.html' %}

{% load static %}

{% block title %}Blog{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'css/blog.css' %}">{% endblock css %}

{% block content %}
  <section class="intro">
    <h1>Meditations on coding, life and the universe.</h1>
  </section>

  <main class="main">
    {% for post in post_list %}
    <article class="post-entry">
      <span class="date-entry">{{ post.date|date:"M j" }}</span>
      <h2 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
      <span class="read-time">{{ post.get_read_time }} read</span>
    </article>
    {% endfor %}
  </main>
{% endblock content %}
