{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Delete Post{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/blog_actions.css' %}">
{% endblock css %}

{% block js %}
  {{ form.media }}
{% endblock js %}

{% block content %}
<section class="post-container">
  <h2>Delete Blog Post</h1>
  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ post.title }}"?</p>
    <div class="button">
      <button class="btn btn-danger ml-2" type="submit">Delete</button>
    </div>
  </form>
</section>

{% endblock content %}
