{% extends 'base.html' %}

{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'css/blog_post.css' %}">{% endblock css %}

{% block js %}<script type="module" src="{% static 'js/blog_post.js' %}"></script>{% endblock js %}

{% block content %}
  <div class="sticky-header">
    <div class="sticky-title"></div>
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>
  </div>

  <article class="post-entry">
    <div class="article-meta">
      <span class="author-entry">{{ post.author }}</span>
      <span class="meta-bar">|</span>
      <span class="date-entry">{{ post.date|date:"M j, Y" }}</span>
      <span class="meta-bar">|</span>
      <span class="read-time">{{ post.get_read_time }} read</span>
      {% comment %} <span class="meta-bar">|</span> {% endcomment %}
      {% comment %} <span class="article-tag"></span> {% endcomment %}
    </div>
    <h1 class="post-title">{{ post.title }}</h1>
    <p class="post-body">{{ post.body }}</p>
  </article>

  <section class="post-footer">
    <hr id="hr">
    <h2>Enjoying these posts? Subscribe for more</h2>
    <h3>Follow me</h3>
    {% comment %} Subscribe Button {% endcomment %}
    {% comment %} Already Login link {% endcomment %}
  </section>
{% endblock content %}
