<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <header>
    <h1>Home</h1>
    <p>My thoughts on space, programming and life.</p>
  </header>

  <section class="projects">
    <h2>Projects</h2>
    <ul>
      <li>Project</li>
      <li>Project</li>
      <li>Project</li>
    </ul>
  </section>

  <section class="essays">
    <h2>Essays</h2>
    <ul>
      <li>Essay</li>
      <li>Essay</li>
      <li>Essay</li>
    </ul>
  </section>

</body>
</html>
