{% extends 'base.html' %}

{% load static %}

{% block title %}Dev Gill{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock css %}

{% block content %}
<main class="container">

  <section class="projects">
    <h2><a href="https://github.com/sdevgill" class="section-title">Endeavours</a></h2>
    <ul class="lists">
      <li><a href="" class="post-title">Endeavour</a></li>
      <li><a href="" class="post-title">Endeavour</a></li>
      <li><a href="" class="post-title">Endeavour</a></li>
    </ul>
  </section>

  <hr id="hr">

  <section class="essays">
    <h2><a href="/blog" class="section-title">Essays</a></h2>
    <ul class="lists">
    {% for post in post_list %}
      <li><a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </section>
</main>
{% endblock content %}
