{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block content %}
<header>
  <h1>Home</h1>
  <p>My thoughts on space, programming and life.</p>
</header>

<section class="projects">
  <h2>Projects</h2>
  <ul>
    <li>Project</li>
    <li>Project</li>
    <li>Project</li>
  </ul>
</section>

<section class="essays">
  <h2>Essays</h2>
  <ul>
    {% for post in post_list %}
      <li><a href="">{{ post.title }}</a></li>
    {% endfor %}
    <li>Essay</li>
    <li>Essay</li>
    <li>Essay</li>
  </ul>
</section>
{% endblock content %}
